<html lang="en">
  <%- include("./partials/head.ejs") %>
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lowhead {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  </style>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <div class="center">
        <h2
          style="color: blue; margin-bottom: 20px; text-decoration: underline"
        >
          About Us
        </h2>
      </div>
      <div class="center lowhead"><h3>OUR STORY</h3></div>
      <p>
        <b>
          Gym and Fitness was founded in 2002 as a family owned and operated
          business specialising in supplying high-quality gym equipment at great
          prices.
        </b>
      </p>
      <p>
        Instead of being just another gym equipment retailer, our founders
        wanted to be the best in the industry and set their minds to doing so!
        Over the last two decades Gym and Fitness has grown into one of
        Australia’s largest online fitness equipment retailers, helping
        thousands of customers live longer, happier and healthier lives.
      </p>
      <div class="center lowhead"><h3>OUR VALUES</h3></div>
      <p>
        For 20 years helping customers reach their fitness goals has been at the
        heart of what we do and why we do it! We live and breathe our six core
        values and four brand promises — which speak of our commitment to our
        customers, staff, the industry and our business as a whole.
      </p>
      <div class="center lowhead"><h3>OUR PEOPLE</h3></div>
      <p>
        Gym and Fitness has a growing team of 60+ awesome superstars and we owe
        our success to each and every one of them! We have some pretty amazing
        people working with us, who hustle everyday to give you the best
        possible experience! You can find them in areas such as sales, marketing
        and e-commerce, customer service, warehousing, finance, human resources
        and management. If you're looking for an opportunity to grow at a
        company that's empowered, inclusive, and values great work—you should
        work with us.
      </p>
      <div class="center lowhead"><h3>OUR CULTURE</h3></div>
      <p>
        We know that building a positive culture is incredibly important. We
        believe in encouraging, supporting, challenging, learning and growing to
        be the best! Our flexible working solutions, gym rebates and educational
        opportunities create a positive work/life balance for all our employees.
        We believe in giving back and offering time, money and products to
        volunteer services and community organisations. We’re committed to
        improving individuals' health, fitness, and well-being by supporting
        global and local charities, local sports teams, and events.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
